.planning-board .header {
    padding: 5px 5px 5px 10px;
}

.planning-board .cardboard {
    margin: 0 14px 0 10px;
}

.planning-board .header .add-new {
    float: left;
}

.planning-board .show-label {
    float: right;
    margin-top: 3px;
}

.planning-board .type-checkbox {
    float: right;
    margin: 5px;
}

.planning-board .manage-iterations {
    float: right;
    margin: 3px 10px 0 0;
}

.planning-board .artifact-type-chooser {
    margin-top: 4px;
}

.planning-board .type-checkbox label {
    position: relative;
    top: 1px;
}

.planning-board .add-new label {
    padding-top: 0;
}

.planning-board .add-new .new {
    margin-left: 0;
}

th.planning-column {
    background-color: #f5f5f5;
}

.planning-column .columnTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.planning-column .timeboxDates {
    font-size: 12px;
    font-weight: bold;
    color: #8f8f8f;
    margin-bottom: 7px;
}

.planning-column.current-timebox .rui-card {
    box-shadow: rgba(192, 192, 192, 0.5) 2px 2px;
    -moz-box-shadow: rgba(192, 192, 192, 0.5) 2px 2px;
    -webkit-box-shadow: rgba(192, 192, 192, 0.5) 2px 2px;
}

.progress-bar-background {
    background-color: #424242;
    padding: 6px 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.progress-bar-container {
    margin: 0 auto;
}

.progress-bar-container .progress-bar-label {
    color: #333333;
    font-size: 12px;
}

.planning-board .cardboard .column-container .column-header .column-header-title {
    padding: 15px 0 0 0;
}

th.card-column.planning-column.current-timebox {
    background: rgb(245,245,245); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(205,205,205,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(205,205,205,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(205,205,205,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(205,205,205,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(205,205,205,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(205,205,205,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}

.cardboard .column-container .planning-column.current-timebox {
    border-right: 2px solid #8f8f8f;
    border-top: 2px solid #8f8f8f;
    border-left: 2px solid #8f8f8f;
}

.cardboard .column-container td.planning-column.current-timebox {
    background-color: #D6D6D6;
    border-top: 1px solid #8f8f8f;
}

.cardboard .column-container .planning-column {
    border-top: 2px solid transparent;
}

.planning-column .column-header {
    min-height: 70px;
}

.planning-column.backlog .search {
    margin: 5px 30px 0 30px;
    padding-right: 21px;
}

.planning-column.backlog .search > div {
    overflow-x: hidden;
}

.planning-column.backlog .search .search-text {
    float: left;
    width: 100%;
}

.planning-column.backlog .search-button {
    background: transparent url('search-button.gif');
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    margin: 4px -21px 0 6px;
}

.planning-board .no-timebox .columns tr td.blank-slate-column {
    width: 66%;
    text-align: center;
    vertical-align: top;
}

.cardboard .planning-column.card-column-status {
    border: none;
    border-right: 1px dotted #C6C6C6;
}

.cardboard .planning-column.card-column-status:last-child {
    border-right: none
}

.cardboard .planning-column.current-timebox.card-column-status {
    background-color: #D6D6D6;
    border-top: 2px solid #D6d6d6;
}

.cardboard .planning-column.card-column-status .empty-status {
    background-color: #424242;
    height: 26px;
}
